<!-- Main content -->
<section class="content">
<b>Forex Spot <span class="label label-info">{{spotnotification}}</span></b> | <a href="#/acceptedofferswap">Forex Swap <span class="label label-info">{{swapnotification}}</span></a> | <a href="#/acceptedofferforward">Forex Forward <span class="label label-info">{{forwardnotification}}</span></a> | <a href="#/acceptedoffermm">Money Markets <span class="label label-info">{{mmnotification}}</span></a>
<h3>FxSpot Accepted Offers</h3>
    <div class="row">
        <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Order Date</th>
                                    <th>Customer Name</th>
                                    <th>Currency Pair</th>
                                    <th>Buy/Sell</th>
                                    <th>Deal Details</th>
                                    <th>Settlement Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ord in offers">
                                    <td><a class="btn btn-info" href="#/bookdeal/{{ord.offerid}}"><i class="fa fa-gavel"></i> Book Ticket</a></td>
                                    <td>{{ord.orderdate}}</td>
                                    <td>{{ord.usernamefk}}</td>
                                    <td>{{ord.ccypair}}</td>
                                    <td>{{ord.buysellbank}}</td>
                                    <td>
                                        <p>{{ord.recbank}} Amount: {{ord.ccypair | limitTo : ord.limitnum}} {{ord.settleamount | number}}</p>
                                        <p>Rate: {{ord.offeredrate | number}}</p>
                                        <p>{{ord.paybank}} Amount: {{ord.ccypair | limitTo : -ord.limitnum}} {{ord.orderamount | number}}</p>
                                    </td>
                                    <td>{{ord.settlementdate}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <tbody>
                                <tr ng-repeat="ord in buyoffers">
                                    <td><a class="btn btn-info" href="#/bookdeal/{{ord.offerid}}"><i class="fa fa-gavel"></i> Book Ticket</a></td>
                                    <td>{{ord.orderdate}}</td>
                                    <td>{{ord.usernamefk}}</td>
                                    <td>{{ord.ccypair}}</td>
                                    <td>{{ord.buysellbank}}</td>
                                    <td>
                                        <p>{{ord.recbank}} Amount: {{ord.ccypair | limitTo : ord.limitnum}} {{ord.settleamount | number}}</p>
                                        <p>Rate: {{ord.offeredrate | number}}</p>
                                        <p>{{ord.paybank}} Amount: {{ord.ccypair | limitTo : -ord.limitnum}} {{ord.orderamount | number}}</p>
                                    </td>
                                    <td>{{ord.settlementdate}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
            </div>
    </div>
    
</section>