<!-- Main content -->
<section class="content">
<i class="fa fa-arrow-left"></i> <a href="#/acceptedoffermm">Back</a>
    <div class="row">
        <div class="container">
        	<div class="row" align="center">
        		<p style="font-size: 40px">BANK OF KENYA</p>
        		<p style="font-size: 40px">DEAL TICKET MONEY MARKET</p>
        		<p><b>Deal Status : NEW</b></p>
        	</div>
        	<div class="row">
        		<div class="col-md-6"><b>Trade Information</b></div>
        		<div class="col-md-6"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Trade date and time:</div>
        		<div class="col-md-6">{{booking.orderdate}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Ticket ID:</div>
        		<div class="col-md-6">3678169</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Trader:</div>
        		<div class="col-md-6">{{booking.recipient}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Counterparty:</div>
        		<div class="col-md-6">{{booking.usernamefk}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Core Banking Branch:</div>
        		<div class="col-md-6">ForexTrading</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Book:</div>
        		<div class="col-md-6">KES.FX.RETAIL</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Reuters ID:</div>
        		<div class="col-md-6"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Broker Code:</div>
        		<div class="col-md-6"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Broker:</div>
        		<div class="col-md-6"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Broker Basis Points:</div>
        		<div class="col-md-6"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">{{booking.mmtypebank}} Period:</div>
        		<div class="col-md-6">{{booking.mmfrom}} To {{booking.mmto}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">REC amount and currency:</div>
        		<div class="col-md-6">{{booking.ccy}} {{booking.orderamount_disp | number:2}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">PAY amount and currency:</div>
        		<div class="col-md-6">{{booking.ccy}} {{booking.netamount_disp | number:2}}</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-md-6">Fixed rate %:</div>
        		<div class="col-md-6">{{booking.fixedrate}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Total Interest:</div>
        		<div class="col-md-6">{{booking.ccy}} {{booking.totalinterest | number:2}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">Withholding Tax:</div>
        		<div class="col-md-6">{{booking.ccy}} {{booking.tax | number:2}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6"><b>**** Settlement Instructions ****</b></div>
        		<div class="col-md-6"></div>
        	</div>
		    <div class="row">
		        <div class="col-md-2" style="border: 1px solid blue">Settlement Date</div>
		        <div class="col-md-2" style="border: 1px solid blue">Pay/Rec</div>
		    	<div class="col-md-2" style="border: 1px solid blue">Amount</div>
		    	<div class="col-md-2" style="border: 1px solid blue">Ccy</div>
		        <div class="col-md-2" style="border: 1px solid blue">Receiver</div>
		    	<div class="col-md-2" style="border: 1px solid blue">Intermediary</div>
			</div>
			<div class="row">
		        <div class="col-md-2" style="border: 1px solid blue">{{booking.mmto}}</div>
		    	<div class="col-md-2" style="border: 1px solid blue">PAY</div>
		    	<div class="col-md-2" style="border: 1px solid blue">{{booking.netamount_disp | number:2}}</div>
		        <div class="col-md-2" style="border: 1px solid blue">{{booking.ccy}}</div>
		    	<div class="col-md-2" style="border: 1px solid blue">COMMERZBANK FRA</div>
		    	<div class="col-md-2" style="border: 1px solid blue">Null</div>
			</div>
			<div class="row">
		        <div class="col-md-2" style="border: 1px solid blue">{{booking.mmfrom}}</div>
		    	<div class="col-md-2" style="border: 1px solid blue">REC</div>
		    	<div class="col-md-2" style="border: 1px solid blue">{{booking.orderamount_disp | number:2}}</div>
		        <div class="col-md-2" style="border: 1px solid blue">{{booking.ccy}}</div>
		    	<div class="col-md-2" style="border: 1px solid blue">ALL/ABCD/ANY/</div>
		    	<div class="col-md-2" style="border: 1px solid blue">Null</div>
			</div>
			<br>
			<div class="row">
        		<button class="btn btn-info" ng-click="custconfirm()">Book Deal</button>
        	</div>
		</div>
    </div>
</section>