<style type="text/css">
    li {list-style-type: none;}
</style>

<div class="container">
<b>Forex Spot <span class="label label-danger">{{payments_spot_notification}}</span></b> | 
<a href="#/paymentswap">Forex Swap <span class="label label-info">{{payments_swap_notification}}</span></a> | 
<a href="#/paymentforward">Forex Forward <span class="label label-info">{{payments_forward_notification}}</span></a> | 
<a href="#/paymentmm"> Money Markets <span class="label label-info">{{payments_mm_notification}}</span></a>
</div>
<h3></h3>

<div class="container">
            <ul>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">Spot Payments <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Not Paid <span class="label label-success">{{}}</span></a></li>
                    <li><a href="">Paid <span class="label label-success">{{}}</span></a></li>
                    <li><a href="">View All <span class="label label-success">{{}}</span></a></li>
                  </ul>
                </li>
            </ul>
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Confirmed Deals</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                          <thead>
                            <tr>
                              <th>Order ID</th>
                              <th>Bank name</th>
                              <th>CCY Pair</th>
                              <th>Buy/Sell</th>
                              <th>Order amount</th>
                              <th>Settlement amount</th>
                              <th>Status</th>
                              <th>Settlement date</th>
                              <th>Payment</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="c in payments_spot">
                              <td><a href="">{{c.orderidfk}}</a></td>
                              <td>{{c.usernamefk}}</td>
                              <td>{{c.ccypair}}</td>
                              <td>{{c.buysell}}</td>
                              <td>{{c.orderamountccy}} {{c.orderamount | number}}</td>
                              <td>{{c.settlementamount}}</td>
                              <td><span class="label label-success">{{c.status}}</span></td>
                              <td>{{c.settlementdate}}</td>
                              <td>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span> Pay
                                    </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>