<style type="text/css">
    li {list-style-type: none;}
</style>
<div class="container">
    <a href="#/payments">Forex Spot <span class="label label-info">{{payments_spot_notification}}</span></a> | 
    <b>Forex Swap <span class="label label-danger">{{payments_swap_notification}}</span></b> | 
    <a href="#/paymentforward">Forex Forward <span class="label label-info">{{payments_forward_notification}}</span></a> |
    <a href="#/paymentmm"> Money Markets <span class="label label-info">{{payments_mm_notification}}</span></a>
</div>
<h3></h3>
 <div class="container">
            <ul>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">Swap payments <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Not Paid <span class="label label-success">{{}}</span></a></li>
                    <li><a href="">Paid <span class="label label-success">{{}}</span></a></li>
                    <li><a href="">View All <span class="label label-success">{{}}</span></a></li>
                  </ul>
                </li>
            </ul>
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Confirmed Deals</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                          <thead>
                            <tr>
                              <th>Order ID</th>
                              <th>Bank name</th>
                              <th>Type</th>
                              <th>Order amount</th>
                              <th>Tenor in days</th>
                              <th>Status</th>
                              <th>From</th>
                              <th>To</th>
                              <th>Payment</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="c in payments_swap">
                              <td><a href="">{{c.orderidfk}}</a></td>
                              <td>{{c.usernamefk}}</td>
                              <td>{{c.mmtype}}</td>
                              <td>{{c.ccy}} {{c.orderamount | number}}</td>
                              <td>{{c.tenuredays}}</td>
                              <td><span class="label label-success">{{c.status}}</span></td>
                              <td>{{c.mmfrom}}</td>
                              <td>{{c.mmto}}</td>
                              <td>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span> Pay
                                    </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>