<a href="#/payments">Forex Spot <span class="label label-info">{{spotnotification}}</span></a> | 
<b>Forex Swap <span class="label label-info">{{swapnotification}}</span></b> | 
<a href="#/paymentforward">Forex Forward <span class="label label-info">{{forwardnotification}}</span></a> |
<a href="#/paymentmm"> Money Markets <span class="label label-info">{{mmnotification}}</span></a>

<h3>FxSwap Payments</h3>
<div class="row">
        <div class="panel panel-default widget">
            
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="c in custswappay">
                        <div class="row">
                            
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="">
                                        {{c.buysell}} {{c.ccypair}}
                                    </a>
                                    <div class="mic-info">
                                        <p>Near-Leg Buy Amount: {{c.nearbuyorderamountccy}} {{c.nearbuyorderamount | number:0}}</p>
                                        <p>Near-Leg Sell Amount: {{c.nearsellorderamountccy}} {{c.nearsellorderamount | number:0}}</p>
                                        <p>Far-Leg Buy Amount: {{c.farbuyorderamountccy}} {{c.farbuyorderamount | number:0}}</p>
                                        <p>Near-Leg Sell Amount: {{c.farsellorderamountccy}} {{c.farsellorderamount | number:0}}</p>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Deal Number : {{c.orderidfk}}
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Pay" ng-click="pay(c.offerid)">
                                        <span class="glyphicon glyphicon-pencil"></span> Pay
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </div>