<div class="container">
<b>Forex Spot</b> | <a href="#/homeswap">Forex Swap</a> | <a href="#/homeforward">Forex Forward</a> | <a href="#/homemoneymarket">Money Market</a>
</div>

<div class="row">
        <div class="col-md-7">
            <!-- Map box -->
            <div class="box box-solid bg-light-blue-gradient">

                Home FxSpot {{custorders.offernotification}}
              
            </div>
                        <input ng-model="searchKeyword" type="text" placeholder="Filter by" autofocus>
                        <div class="cloading"></div>
                        <div class="table-responsive" style="min-Height:500px">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>View</th>
                                    <th>Deal Number</th>
                                    <th>Currency Pair</th>
                                    <th>Buy/Sell</th>
                                    <th>Settlement Date</th>
                                    <th>Buy Amount</th>
                                    <th>Sell Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ord in spotorders | filter: searchKeyword">
                                    <td>
                                        <button class="btn btn-info" ng-click="viewoffers(ord.orderid)"><i class="fa fa-external-link"></i> <span class="badge">{{ord.nOffers}}</span></button>
                                        <button class="btn btn-danger" ><i class="fa fa-trash"></i></button>
                                    </td>
                                    <td>{{ord.orderid}}</td>
                                    <td>{{ord.ccypair}}</td>
                                    <td>{{ord.buysell}}</td>
                                    <td>{{ord.settlementdate}}</td>
                                    <td>{{ord.ccypair | limitTo:ord.limitnum}} {{ord.buyorderamount | number}}</td>
                                    <td>{{ord.ccypair | limitTo:-ord.limitnum}} {{ord.sellorderamount | number}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                        
                        
            
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Offers {{offertitle}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <input ng-model="query" type="text" placeholder="Filter by" autofocus>
                            <table class="table table-hover">
                                <tr>
                                    <th>Bank</th>
                                    <th>Rate</th>
                                    <th>Settlement Amount</th>
                                    <th>Date of Offer</th>
                                    <th>Expiry Date</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="ord in orderdetails | filter:query">
                                    <td>{{ord.offeredby}}</td>
                                    <td>{{ord.offeredrate}}</td>
                                    <td>{{ord.ccysettleamount}} {{ord.settleamount | number}}</td>
                                    <td>{{ord.offerdate}}</td>
                                    <td>{{ord.settlementdate}}</td>
                                    <td>
                                        <div class="btn-group pull-left">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                                            <ul class="dropdown-menu icons-right dropdown-menu-right">
                                                <li><a href="#"><i class="fa fa-commenting"></i> Chat</a></li>
                                                <li><a href="#/offeraccept/{{ord.offerid}}"><i class="fa fa-check"></i> Accept</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /.tab-pane -->
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
        </div>
        <!--fab button -->
        <div class="container">
        	<div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="material-button-anim">
                  <ul class="list-inline" id="options">
                    <li class="option">
                      <button class="material-button option1" type="button" onclick="window.location.href='#neworder'">
                        <span class="fa fa-money" aria-hidden="true"></span> Forex
                      </button>
                    </li>
                    <li class="option">
                      <button class="material-button option2" type="button" onclick="window.location.href='#newmoneymarket'">
                        <span class="fa fa-credit-card" aria-hidden="true"></span> Mm
                      </button>
                    </li>
                    <li class="option">
                      <button class="material-button option3" type="button">
                        <span class="fa fa-bed" aria-hidden="true"></span> Future
                      </button>
                    </li>
                  </ul>
                  <button class="material-button material-button-toggle" type="button">
                    <span class="fa fa-file" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
        	</div>
        </div>
 <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Withdraw Order</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <form ng-submit="withdrawOrder()" method="post" id="withdraworderform" class="form-horizontal">
                <div class="form-group">
				    	<label class="col-xs-3 control-label">Order ID</label>
				    	<div class="col-xs-5 selectContainer">
				    		<input type="text" class="form-control" ng-model="order.orderid" required disabled>
				    	</div>
				</div>
				<div class="form-group">
                    <label class="col-xs-3 control-label"></label>
                    	<div class="col-xs-5 selectContainer">
                    		<button type="submit" class="btn btn-info" ng-disabled="withdraworderform.$invalid">Confirm Withdrawal</button>
                    	</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
  
    <script type="text/javascript">
        $(document).ready(function () {
            $('.material-button-toggle').click(function () {
                $(this).toggleClass('open');
                $('.option').toggleClass('scale-on');
            });
            
            var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

    allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);
    
            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });
    
        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;
    
            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }
    
            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    
        });
    </script>
    
    <script>
        $('.multiselect').multipleSelect({
            placeholder: "Select Bank(s)",
            filter: true
        });
        function setsettlementdate(){
            document.getElementById('setdate').innerHTML="Settlement Date : "+document.getElementById('settlementdate').value;
        }
        $("#getSelectsBtn").click(function() {
            console.log("Selected values: " + $(".multiselect").multipleSelect("getSelects"));
            console.log(document.getElementById('banks').value);
            //console.log("Selected texts: " + $(".multiselect").multipleSelect("getSelects", "text"));
        });
    </script>
