
     
<div class="content" cg-busy="{promise:promise,templateUrl:templateUrl,message:'Data being submitted',backdrop:backdrop,delay:0,minDuration:700}">
	 <a href="#/neworder">Forex Spot</a> | <a href="#/newswap">Forex Swap</a> | <b>Forex Forward</b> | <a href="#/newmoneymarket">Money Market</a>
	 <div class="cloading"></div>
        <section class="content">
        	<h1 class="container">Forex Forward</h1>
            <form class="form-horizontal" role="form" id="newforwardorderform" ng-submit="saveforwardorder()">
            		<div class="form-group">
				    	<label class="col-xs-3 control-label">Currency pair</label>
				    	<div class="col-xs-5 selectContainer">
				    		<select class="form-control" ng-model="newforwardorder.ccypair" required>
							    <option>USD/KES</option>
								<option>KES/UGX</option>
								<option>KES/TZS</option>
								<option>EUR/KES</option>
								<option>GBP/KES</option>
								<option>CAD/KES</option>
								<option>AUD/KES</option>
								<option>ZAR/KES</option>
								<option>JPY/KES</option>
								<option>RUB/KES</option>
								<option>BRL/KES</option>
								<option>EUR/USD</option>
								<option>GBP/USD</option>
							</select>
				    	</div>
				    </div>
				    <div class="form-group">
				        <label class="col-xs-3 control-label">Buy/Sell</label>
				        <div class="col-xs-5 selectContainer">
				            <select name="colors" class="form-control" ng-model="newforwardorder.buysell" required>
				                <option value="BUY">BUY</option>
							    <option value="SELL">SELL</option>
				            </select>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-xs-3 control-label">Frequency</label>
				        <div class="col-xs-5 selectContainer">
				            <select name="colors" class="form-control" ng-model="newforwardorder.frequency" required>
				                <option value="Single">Single</option>
				                <option value="Weekly">Weekly</option>
							    <option value="Monthly">Monthly</option>
				            </select>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-xs-3 control-label">No of Frequency</label>
				        <div class="col-xs-5 selectContainer">
				            <input type="text" class="form-control" id="nofrequency" ng-model="newforwardorder.nofrequency" required>
				        </div>
				    </div>
				    
				    <div class="form-group">
				    	<label class="col-xs-3 control-label">Start Date</label>
				    	<div class="col-xs-5 selectContainer">
				    		<div class="input-group">
                            	<div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker" id="startdate" name="startdate" ng-model="newforwardorder.startdate" required/>
                            </div><!-- /.input group -->
				    	</div>
				    </div>
				    <div class="form-group">
				    	<label class="col-xs-3 control-label">Buy Amount</label>
				    	<div class="col-xs-5 selectContainer">
				    		<div class="input-group">
				    			<div class="input-group-addon">
                                    {{newforwardorder.buyorderamountccy}}
                                </div>
				    			<input type="text" class="form-control" ng-model="newforwardorder.buyorderamount" ng-blur="setfunct()">
				    		</div>
				    	</div>
				    </div>
				    <div class="form-group">
				    	<label class="col-xs-3 control-label">Sell Amount</label>
				    	<div class="col-xs-5 selectContainer">
				    		<div class="input-group">
				    			<div class="input-group-addon">
                                    {{newforwardorder.sellorderamountccy}}
                                </div>
				    			<input type="text" class="form-control" ng-model="newforwardorder.sellorderamount" ng-blur="setfunct2()">
				    		</div>
				    	</div>
				    </div>
				    <div class="form-group">
				    	<label class="col-xs-3 control-label">Select Bank(s)</label>
				    	<div class="col-xs-4 selectContainer">
						    <select class="form-control select2" multiple="multiple" data-placeholder="Select Bank(s)" ng-model="newforwardorder.bank" required>
		                      <option ng-repeat="option in banks" value="{{option.bankid}}">{{option.bankname}}</option>
		                    </select>
				    	</div>
				    	<div class="col-xs-3 selectContainer"><input type="checkbox" ng-model="newforwardorder.mybanks" name="mybanks" /><span class="text"> My Banks</span></div>
				    </div>
				    <!--<div class="form-group">
				    	<label class="col-xs-3 control-label">Settlement Date</label>
				    	<div class="col-xs-5 selectContainer">
				    		<div class="input-group">
                            	<div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="datepicker" id="settlementdate" name="settlementdate" ng-model="newforwardorder.settlementdate" required/>
                            </div>
				    	</div>
				    </div>-->
				    <div class="form-group">
                    	<label class="col-xs-3 control-label">Comment</label>
                    	<div class="col-xs-5 selectContainer">
                    		<textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="newforwardorder.custcomment"></textarea>
                    	</div>
                    </div>
                    <div class="form-group">
                    <label class="col-xs-3 control-label"></label>
                    	<div class="col-xs-5 selectContainer">
                    		<a class="btn btn-danger" href="#/">Cancel</a>
                    		<a class="btn btn-primary" href="#/forwardschedule/{{newforwardorder.frequency}}/{{newforwardorder.nofrequency}}/{{newforwardorder.startdate}}/{{newforwardorder.buyorderamountccy}}/{{newforwardorder.buyorderamount}}/{{newforwardorder.sellorderamountccy}}/{{newforwardorder.sellorderamount}}" ng-click="Test()">View Schedule</a>
                    		<button type="submit" class="btn btn-info" ng-disabled="neworderform.$invalid">Submit</button>
                    		<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    	</div>
                    </div>
            	
            	<!--<div class="row">
            		<input onclick="addRow(this.form);" type="button" value="Add row" class="btn btn-success"/>
            	</div>
            	<div class="row" id="itemRows">
				    <p>Order Amount: <input type="text" id="orderamount" name="orderamount">Settlement Amount: <input type="text" name="settlementamount"> Settlement Date: <input type="text" name="settlementdate" ></p>
            	</div>-->
            </form>
        </section>
</div>
 <!-- Select2 -->
    <script src="plugins/select2/select2.full.min.js" type="text/javascript"></script>  
    <!-- Select2 -->
    <link href="plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <script>
        $(".datepicker").datepicker({
          autoclose: true,
          format:'dd-mm-yyyy',
          daysOfWeekDisabled:[0,6],
          clearBtn: true,
          orientation: "auto top",
          todayHighlight:true,
          startDate: '0d'
          //endDate: '+7d'
        });
        
  </script>
<script type="text/javascript">
	var rowNum = 0;
	function addRow(frm) {
		rowNum ++;
		var row = '<p id="rowNum'+rowNum+'">Order Amount: <input type="text" name="qty[]"> Settlement Amount: <input type="text" name="name[]"> Settlement Date: <input type="text" name="settlementdate[]" > <input type="button" class="btn btn-danger" value="-" onclick="removeRow('+rowNum+');"></p>';
		jQuery('#itemRows').append(row);
		frm.add_qty.value = '';
		frm.add_name.value = '';
	}
	
	function removeRow(rnum) {
		jQuery('#rowNum'+rnum).remove();
	}
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.selectpicker').selectpicker(
        	'deselectAll'
        );
        //Initialize Select2 Elements
        $(".select2").select2({
        	tags: "true",
  			allowClear: true
        });
    });
</script>
    